body {
  margin: 0;
}

.nav {
  background-color: #383737;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  color: white;
  display: inline;
  padding-left: 12px;
}

.dropdown {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}


.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  z-index: 1;
  background-color:#3da8ff;
  top: 50px;
  left: 0;
  margin: 0;
  padding: 0;
}


li.dropdown-content--item {
  background-color: #05b0fa;
  padding: 18px;
  display: block;
}

li.dropdown-content--item:hover {
  background-color: #3094e6;
  padding: 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}