@import 'reset.css';
@import 'settings.css';
@import 'typography.css';

body {
  background: url(../images/taxi_bg.jpg) no-repeat right bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
main {
  border-radius: var(--border-radius);
  box-shadow: 0 0 30px 15px rgba(44, 26, 8, 0.263);
  width: 1000px;
  display: flex;
  position: relative;
  z-index: 2;
}
.banner {
  flex: 0 0 340px;
  background: url(../images/taxi_bg.jpg) no-repeat right bottom;
  background-size: cover;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: #fff;
  font-size: 18px;
  font-family: var(--heading-font);
  font-weight: 700;
  margin: 6px 0;
  padding: 10px 14px;
}
.content {
  background: #fafafa;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  flex: 1 0 400px;
  padding: 48px 64px 48px 48px;
}
.section {
  padding: 14px 0 0 0;
}
.personal label {
  display: none;
}
.select-container {
  background: #fff;
  border: 1px solid var(--border-color);
  padding: 10px;
}
.sub-section {
  display: flex;
}
.sub-section h2 {
  margin: 5px 14px 0 0;
}
.sub-section label {
  display: none;
}
.form-item {
  display: flex;
}
.form-item input,
.input-area {
  border: 1px solid var(--border-color);
  height: 26px;
  margin: 4px 0;
  padding: 4px 12px;
  width: 100%;
}
.area {
  height: 60px;
}
.input-area {
  flex: 1 0 50%;
}
.form-group {
  display: flex;
  justify-content: space-between;
}
.form-group > div {
  flex: 0 0 49%;
}
.checkboxes {
  display: flex;
  flex-direction: column;
}
