h1,
h2 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-weight: 700;
}

h1 {
  border-bottom: 1px solid var(--primary-color);
  font-size: 32px;
  padding-bottom: 12px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p,
label,
input,
textarea {
  font-family: var(--body-font);
}
